*{

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }



.nav-top{
    display: flex;
    align-items: center ;
    border: #06652e solid 1px;
    justify-content:space-around ;

}
ul{
display: flex;
list-style: none;
gap: 5px;

}
a{font-size: 18px;
    text-decoration: none;
}
.botao-cta{
    padding: 5px;
    margin: 5px;
    border: solid 1px blue;
    border-radius: 10px 30px 10px 30px;
    box-shadow: 4px 6px rgb(0, 0, 0);
}
.botao-cta:hover{
   background-color: #50c9ee;
}

.botao-cta:active{
    box-shadow: 4px 3px 5px 0px rgb(0, 0, 0);
}

main{
    border: solid 2px red;
    max-width: 1200px;
    margin: 0 auto;
}
section{
    height: auto;
    border: solid 3px green;
    background-color: #50c9ee;
}
/* Aqui é uma CLASSE */
.container-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 10px;
    padding: 20px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(0, 255, 221);
    width: 250px;
    height: auto;
}
.titulo{
    font-size: 20px;
    color: #650660;
    padding: 10px;
}
.card-img{
    width: auto;
    height: auto;
    margin: 5px auto;
    border: solid 2px black;
}
/* Aqui é um ID */
#botao-cancelar{
    width: 300px;
    background-color: red;
} 